h3 {
  text-align: center;
  padding-top: 10px;
}

h2 {
  text-align: center;
}


.tracker-text p{
  text-align: right;
  padding-top: 8px;

}

.tracker-text {
  padding-right: 8px;
}

.tracker-dropdown{
  text-align: left;
  padding-left: 8px;
}