// body{
//   background-color: #41729F;
// }

body{
  text-align: center;
}

.left-feature{
  text-align: right;
}

.right-feature{
  text-align: left;
}

.dropdown-menu {
  max-height: 125px;
  overflow-y: scroll;
}

h2{
  margin-bottom: 10px;
}

.text-label{
  margin-top: 6px;
}